#buylist
	h1 mybuylist 我的購物清單
	.buy_item.contral_panal
		label 產品名稱
		input#input_name(placeholder="名稱．．．")
		label 價錢
		input#input_price(placeholder="123．．．")
		span.addbtn +新增
	#item_list
	//- li.buy_item 1 吹風機
	//- 	.price 100
	//- 	.del_btn X
	//- li.buy_item 1 吹風機
	//- 	.price 100
	//- 	.del_btn X
	//- li.buy_item 1 吹風機
	//- 	.price 100
	//- 	.del_btn X
	//- li.buy_item.total 總價
	//- 	.price 600
